<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
        <h3 class="Logo"> ProfScore</h3>
    </header>
    <header class="Welcome">
        <h2 class="welcome-message"> Welcome Back!</h2>
    </header>

    <div class="wrapper">
        <span class="icon-colse">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box glad">
            <p>We're Glad to see you again!</p>
            <form action="/login" method="POST">

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <label for="email">UniversityMail</label>
                    <input type="email" id="email" name="email" required>
                    
                </div>

                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    
                </div>

                <div class="remember">
                    <label for="remember">
                        <input type="checkbox" id="remember" name="remember"> Remember me
                    </label>
                </div>

                <button type="submit" class="login-btn" onclick="EnterHomePage()"> Login</button>

                <div class="forgot-pass-link">
                    <label><a href="#">Forgot Password?</a></label>
                </div>
                    
                <div class="have-account">
                    <p>Don't have an account?<p>
                </div>

                <button type="button" class="register-btn" onclick="showRegistrationForm()"> Registration</button>

                <div class="help-support">
                    <p>Do you need help? Contact technical support. </p>
                </div>
                <div class="support-link">
                    <a href="mailto:support@aub.edu.lb" class="support-link">Support@aub.edu.lb</a>
                </div>

            </form>
        </div>
    </div>
    
    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html> 