<!DOCTYPE html>
<html lang="en">


 <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style2.css">
        <title>Sign Up page</title>
      </head>
<style>


    body{
       
        background-image: url( "Group 463.png "); 
        background-size: cover; 
        
    }

    label{
        color: blue ;
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        position: left;
        display: inline-block;
        width: 150px;
        text-align: left;
    }
    </style>
   

    <form>  
<body>
   
    <section class="register">
        
        <h2 style = "color:white"> Join Us! </h2>
        <reg>
        <p>
            <div>
        <h3 style = "color:blue"> We're glad to see you </h3>
        <label for="left-label" class="text-left">Username</label> <br>
        <input type="text" name="username" id= "username" placeholder="abc" class= text-left required> 
        <br>
        <label for="University Email">University Email</label> <br>
        <input type="text" name="email" id="email" placeholder=" abc123@mail..." required>
        <br>  <label for="password">Password</label> <br>
        <input type="password" name="pw" id="password" placeholder="******" required>
        <br>   
        <input type="checkbox" value="lsRememberMe" id="rememberMe" style="display:box"> <label>Remember me</label>
        <button class="submit-btn"; style = "color:white" ><a href="#"> Sign Up </a></button> 
       </p></div></reg>
    </section>
</body>
</form>
</html>
